---
const personalImageAlt = "Gloria";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 [&>p]:text-justify"
  >
    <p>
      Hace unos años descubrí mi pasión por la programación gracias a familiares 
      y amigos que trabajaban en este sector. Ver cómo disfrutaban de su trabajo
       despertó mi curiosidad y me motivó a adentrarme en este fascinante mundo. 
       Muy pronto me di cuenta de que la programación no solo era algo que me 
       interesaba, sino que realmente quería convertirla en mi carrera profesional.
    </p>

    <p>
      Lo que más me fascina es la capacidad de la programación para crear soluciones 
      innovadoras que tienen un impacto directo en nuestro día a día. Desde aplicaciones
       web hasta herramientas que automatizan procesos, he disfrutado viendo cómo mis
        conocimientos pueden materializarse en proyectos que facilitan la vida de las personas.
    </p>
    <p>
      Desde entonces, me he sumergido completamente en este campo. He desarrollado diversos 
      proyectos y continúo formándome en nuevas tecnologías, siempre buscando mejorar y
      aprender cada día más. Estoy entusiasmada por seguir creciendo como desarrollador
      y contribuir al avance de la tecnología a través de mi trabajo.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/unnamed2.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
