---
import ExperienceItem from "../components/ExperienceItem.astro";
const EXPERIENCIE = [
{
        title: 'Desarrollador Full Stack',
        description:
            'Programación de funcionalidades y mantenimiento de la aplicación web, tanto backend como frontend. Gestión de la infraestructura en la nube y la base de datos.',
        date: 'Marzo 2024 - Actualmente...',
        link: 'https://arcadigital.app',
        company: {
            name: 'Arca Digital',
            logo: '/IMAGOTIPO_VERDE_1.png',
            logoHeight: 'h-5'
        }
    },
    {
        title: 'Gerente de pais India',
        description:
            'Desarrollo de la Joint-Venture expatriado en India, seguimiento de la construcción de la planta de fabricación, transferencia del know-how tecnológico y adaptación del modelo de negocio de la compañia a la cultura local.',
        date: 'Mayo 2022 - 1 año',
        company: {
            name: 'Alfran',
            logo: '/logo-alfran.png',
            logoHeight: 'h-6'
        }
    },
    {
        title: 'Gestor de proyectos',
        description:
            'Coordinación de recursos para la ejecución de proyectos industriales nacionales e internacionales, gestion de ofertas, certificaciones de obra y logística. Trabajo en equipos para el éxito de los proyectos.',
        date: 'Enero 2020 - +3 años',
        company: {
            name: 'Alfran',
            logo: '/logo-alfran.png',
            logoHeight: 'h-6'
        }
    },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>


