<footer class="rounded-full shadow px-3 m-4 bg-black/20 backdrop-blur-lg sm:w-full xl:w-[1040px] mx-auto mb-6">
    <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
    >
        <span class="text-sm sm:text-center text-yellow-90"
            >© 2024 <a href="https://www.linkedin.com/in/dbaenademadariaga/" class="hover:underline"
                >Dani</a
            >. Algunos derechos reservados.
        </span>
        <ul
            class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/90 dark:text-gray-400 sm:mt-0 "
        >   
            <li class="">
                <a href="#top" class="hover:underline me-4 md:me-6">Inicio</a>
            </li>
        </ul>
    </div>
</footer>
