<footer class="rounded-2xl shadow px-3 bg-black/20 backdrop-blur-lg sm:w-full xl:w-[1040px]  m-2 md:mx-auto">
    <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
    >
        <span class="text-sm sm:text-center text-yellow-90"
            >© 2024 <a href="https://www.linkedin.com/in/dbaenademadariaga/" class="hover:underline"
                >Dani</a
            >. Algunos derechos reservados.
        </span>
        <ul
        >   
            <li class="">
                <a href="#top" class="hover:underline me-4 md:me-6">Inicio</a>
            </li>
        </ul>
    </div>
</footer>
